Django==4.2.7
fitz==0.0.1.dev2
langid==1.1.6
moviepy==1.0.3
openai==1.42.0
opencv_python==4.9.0.80
pandas==1.5.3
Pillow==10.4.0
pydub==0.25.1
python-dotenv==1.0.1
Requests==2.32.3
tiktoken==0.7.0
lancedb==0.12.0
django-allauth==64.1.0
djangocms-admin-style==3.3.1
django-cms==4.1.2 
django-cors-headers==4.4.0
djangorestframework==3.15.2
django-filer==3.1.4 
django-mptt==0.16.0
djangocms-text-ckeditor==5.1.5
djangocms-link==4.0.0
djangocms-file==3.0.1
djangocms-picture==4.1.1
djangocms-video==3.1.0
djangocms_googlemap==2.2.0
djangocms_snippet==3.1.1
djangocms_style==3.1.0
djangocms_column==2.1.0
django_cleanup==8.1.0
django-csp==3.8
pymupdf==1.24.9
markdownify==0.13.1