<!DOCTYPE html>
<html>
<head>
    <title>Transferring Tokens</title>
    <script type="text/javascript">
    function load() {
        document.forms['tokenForm'].submit();
    }
    </script>
</head>
<body onload="load()">
<form name="tokenForm" method="post" action="{{ redirect_uri }}">
    <input type="hidden" name="access_token" value="{{ access_token }}" />
    <input type="hidden" name="id_token" value="{{ id_token }}" />
    <input type="hidden" name="user_id" value="{{ user_id }}" />
</form>
</body>
</html>
